<div class="row1">
  <div class="col span-12 header">
    <h1><a href=""><img src="assets/logo_actool.png" alt="actlogo" class="logobox"></a></h1>
		  <%# <div class="header-box"><a href="#5"><span class="contact-button">お問い合わせ</span></a></div> %>
  </div>
  </div>
<%# <div class="row1">
    <div class="col span-12">
        <nav>   
            <div id="nav">
        <ul class="menubtn">
            <li><a href="#">ホーム</a></li>
            <li><a href="#1">ACTのインターン</a></li>
            <li><a href="#2">新卒入社の先輩</a></li>
            <li><a href="#3">申し込みの流れ</a></li>
            <li><a href="#4">アクセス</a></li>
            <li><a href="#5">お問い合わせ</a></li>
          </ul>
              </div>
        </nav> %>
    
  </div>
</div>

<%# ━━━━━━理念の場所━━━━━━ %>
<div class="missionbox">
  <div class="mainimg">
    <div class="maincatchbox">
      <h1><span class="maincatch"> 数ある企業の中から自分に合う会社を見つけることに悩んでいませんか？ </span></h1>
        <p class="missionmessage">当社独自の取り組みであなたの<br>就職活動の悩みを解決します。</p>
    </div>
  </div>
</div>

<%# ━━━━━━理念の場所・ここまで━━━━━━ %>

<div class="values-menbers">
  <div class="values-menbers-box">
    <div class="values-menbers-box-left">
      <div class="values-menbers-box-rite">
          


      </div>
    </div>
  </div>
</div>

</div>
<div class="contact-box">
  <div class="icon">
    <%=link_to "応募はこちらから", "#", class: "upper"  %>
  </div>
</div>

  <main>
    <div class="catch">
      <h2><span class="under">ー Philosophy ー</span></h2>
      <p class="philosophymessage">人間力が自ら成長し<br>チャレンジ精神と思いやりに溢れた人財の宝庫となる</p>      
    </div>
  </main>

<%# ━━━━━━社長からのメッセージの場所━━━━━━ %>
<div class="message">
  <div class="message-box">
    <ul class="message-text">
      <li>
        <h2 class="topmessage">社長からのメッセージ</h2>
          <p>社長からのメッセージ・社長からのメッセージ・社長からのメッセージ・社長からのメッセージ・社長からのメッセージ・</p>
      </li>
      <li>
        <p class="bgi"><img src="assets/topitou.jpg" alt="" class="topimg"></p>
      </li>
    </ul>
  </div>
</div>
<%# ━━━━━━社長からのメッセージの場所・ここまで━━━━━━ %>

<%# ━━━━━━アクトの強み【新卒・インターン】━━━━━━ %>
<div class="challenge">
  <h1><span class="challenge-title"> アクトの強み【新卒・インターン】 </span></h1>
</div>

<div class="content-upper">
  <div class="image-photo-upper"> <img src="assets/20newmenber.png" class="upper-photo" >
  <%# <p class="image-photo-upper"> <img src="assets/20newmenber.png" class="upper-photo" ></p> %>
  <div class="description-upper">
    <div class="description-upper-box">2020年4月1日　入社　町田店
    <p class="caption">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    </div>
  </div>
  </div>
</div>
<div class="content-middle">
  <div class="description-middle">
    <p class="caption">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    </p>
</div>
  <p class="image-photo-middle"> <img src="assets/honbusaport.png" class="middle-photo" %></p>
</div>
<div class="content-rower">
  <p class="image-photo-rower"> <img src="assets/tentyou.png" class="rower-photo" %></p>
  <div class="description-rower">
    <p class="caption">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    </p>
</div>
<%# ━━━━━━アクトの強み【新卒・インターン】ここまで━━━━━━ %>

<%# ━━━━━━応募ボタン━━━━━━ %>
</div>
<div class="contact-box">
  <div class="icon">
    <%=link_to "応募はこちらから", "#", class: "upper"  %>
  </div>
</div>
<%# ━━━━━━応募ボタンここまで━━━━━━ %>

<%# ━━━━━━応募の流れ━━━━━━ %>
<div class="flow">
  <h1><span class="flowtitle"> - 応募からの流れ - </span></h1>
</div>

<div class="stepconnect">
<div class="connect">

  <div class="step1">
    <div class="stepbox">
      <div class="flowbox"> 
        <h3><span class="flowtitle-No"> ① </span></h3>
        <h3><span class="flowtitle-step"> エントリー </span></h3>
      </div>
    </div>
    <p class="explanation">応募ボタンよりエントリーお手続きをお願いします。</p>
  </div>
  <div class="step2">
  <div class="stepbox">
      <div class="flowbox"> 
        <h3><span class="flowtitle-No"> ② </span></h3>
        <h3><span class="flowtitle-step"> 日 程 調 整 </span></h3>
      </div>
    </div>
    <p class="explanation">応募ボタンよりエントリーお手続きをお願いします。</p>
  </div>
  <div class="step3">
    <div class="stepbox">
      <div class="flowbox"> 
        <h3><span class="flowtitle-No"> ③ </span></h3>
        <h3><span class="flowtitle-step"> 業 務 体 験 </span></h3>
      </div>
    </div>
    <p class="explanation">応募ボタンよりエントリーお手続きをお願いします。</p>
  </div>
  <div class="step4">
    <div class="stepbox">
      <div class="flowbox"> 
        <h3><span class="flowtitle-No"> ④ </span></h3>
        <h3><span class="flowtitle-step"> 選考START </span></h3>
      </div>
    </div>
    <p class="explanation">応募ボタンよりエントリーお手続きをお願いします。</p>
  </div>
  <div class="step5">
    <div class="stepbox">
      <div class="flowbox"> 
        <h3><span class="flowtitle-No"> ⑤ </span></h3>
        <h3><span class="flowtitle-step"> 一 次 選 考 </span></h3>
      </div>
    </div>
    <p class="explanation">応募ボタンよりエントリーお手続きをお願いします。</p>
  </div>
</div>
</div>
<%# ━━━━━━応募の流れ・ここまで━━━━━━ %>

<%# ━━━━━━管理本部メッセージ━━━━━━ %>
<div class= "hoge"><%= render 'new_graduates/message' %></div>
<%# ━━━━━━管理本部メッセージ・ここまで━━━━━━ %>

<%# ━━━━━━YouTubeの場所━━━━━━━ %>
<div class="challenge">
  <h1><span class="challenge-title"> 説明動画 </span></h1>
</div>

<div class= "hoge"><%= render 'new_graduates/youtube' %></div>
<%# ━━━━━━YouTubeここまで━━━━━━━━ %>




  





<%# ━━━━━━フォームの箇所━━━━━━ %>
<div class= "hoge"><%= render 'inquiry/index' %></div>
