<div class="row1">
  <div class="col span-12 header">
    <h1><a href=""><img src="assets/logo_actool.png" alt="actlogo" class="logobox"></a></h1>
  </div>
</div>

<%# ━━━━━━理念の場所━━━━━━ %>
<div class="missionbox">
  <div class="mainimg">
    <div class="maincatchbox">
      <h1><span class="maincatch"> 数ある企業の中から自分に合う会社を見つけることに悩んでいませんか？ </span></h1>
        <p class="missionmessage">当社独自の取り組みであなたの<br>就職活動の悩みを解決します。</p>
    </div>
  </div>
</div>

<%# ━━━━━━理念の場所・ここまで━━━━━━ %>

<div class="values-menbers">
  <div class="values-menbers-box">
    <div class="values-menbers-box-left">
      <div class="values-menbers-box-rite">
          


      </div>
    </div>
  </div>
</div>

</div>
<div class="contact-box">
  <div class="icon">
    <a class="upper" href="#form">応募はこちらから</a>
    <%# <%=link_to "応募はこちらから", "#", class: "upper"  %> 
  </div>
</div>

  <main>
    <div class="catch">
      <h2><span class="under">ー Philosophy ー</span></h2>
      <p class="philosophymessage">人間力が自ら成長し<br>チャレンジ精神と思いやりに溢れた人財の宝庫となる</p>      
    </div>
  </main>

<%# ━━━━━━社長からのメッセージの場所━━━━━━ %>
<div class="message">
  <div class="message-box">
    <ul class="message-text">
      <li>
        <h2 class="topmessage">社長からのメッセージ</h2>
          <p>社長からのメッセージ・社長からのメッセージ・社長からのメッセージ・社長からのメッセージ・社長からのメッセージ・</p>
      </li>
      <li>
        <p class="bgi"><img src="assets/topitou.jpg" alt="" class="topimg"></p>
      </li>
    </ul>
  </div>
</div>
<%# ━━━━━━社長からのメッセージの場所・ここまで━━━━━━ %>

<%# ━━━━━━アクトの強み【新卒・インターン】━━━━━━ %>
<div class="challenge">
  <h1><span class="challenge-title"> アクトの強み【新卒・インターン】 </span></h1>
</div>
<%# ーーー↓　↓従業員メッセージ↓　↓ーーー %>
<div class="challenge-content">
  <div class="box">
    <div class="text">
      <h3>2020年4月1日  入社  町田店</h3>
      <h4>＜アクトを決めた理由＞</h4>
      <p>・最初に内定を頂いたことも大きいが、入社を決めるにあたって感じた不安や悩みといった話を真摯に受け止めてくれたこと。<br>
         ・不安を解消させるために自分と人事だけの懇親会を開いてくれたこと。<br>
         ・プライベートを尊重する社風に惹かれたこと。</p>
      <h4>＜今の仕事内容＞</h4>
      <p>・工具の買取、クリーニング(生産)、接客<br>
         ・一部事務作業</p>
      <h4>＜今後の目標＞</h4>
      <p>5年を目処に副店長に昇進し、店舗経営者側として会社に貢献したい。</p>
      <h4>＜22卒の方へメッセージ＞</h4>
      <p>リユース業界は、通常の小売業と違い、買値も売値も自分達で決めることができます。<br>
         他の業界では体験することができない面白さがリユース業界にはあります。<br>
         最初は不安を抱えながら入社した私ですが、今ではアクトに入社して良かったと実感しています。<br>
         アクトはまだ成長途中であり、これからです。<br>
         私達と一緒にリユースを通じてお客様に幸せを提供してみませんか？</p>
    </div>
    <div class="pict"><img src="assets/20newmenber.png" alt=""></div>
  </div>
<div class="box">
  <div class="text">
    <h3>2014年4月1日  入社  営業本部</h3>
    <h4>＜アクトを決めた理由＞</h4>
    <p>ありきたりですが、スタッフ同士の仲の良さ。<br>あまりにビジネスライクな関係だと話しかけるのに躊躇して、質問とかできないままになってしまいがちな人なので。<br>入社前にお会いした社員さん達が和気藹々としていて、自分の心配事が解消できそうだと感じたからです</p>
    <h4>＜今の仕事内容＞</h4>
    <p>・営業本部（経営陣）と店舗との橋渡し役的な業務<br>
       ・営業本部の総務的な業務<br>
       ・社内施策のデジタル関連業務<br>
         施策や共有事項の伝達をしたり、逆に店舗から聞き取りを行い集約したり、「もっとこうならないの～」を訊いたりします。</p>
    <h4>＜22卒の方へメッセージ＞</h4>
    <p>弊社はチャレンジする事にとても寛容な会社です。知識にしろ技術にしろ「やったるぜ！」って意思を持った人が成長する、そんな会社。<br>
       翻って、分からないことがあってもどんどん訊ける会社でもあります。商材柄、先輩スタッフも知らない事が多かったりするので、お店のスタッフ全員で多角的に成長していく会社だと思います。<br>
       少しでも興味を持ってもらえれば嬉しいです！</p>
  
  
  </div>
  <div class="pict"><img src="assets/honbusaport.png" alt=""></div>
</div>
<div class="box">
  <div class="text">
    <h3>2014年4月1日  入社  草加店：店長</h3>
    <p>親譲りの無鉄砲で小供の時から損ばかりしている。</p>
  </div>
  <div class="pict"><img src="assets/tentyou.png" alt=""></div>
</div>
</div> 
<%# ━━━━━━アクトの強み【新卒・インターン】ここまで━━━━━━ %>

<%# ━━━━━━応募ボタン━━━━━━ %>
</div>
<div class="contact-box">
  <div class="icon">
    <a class="upper" href="#form">応募はこちらから</a>
    <%# <%=link_to "応募はこちらから", "#", class: "upper"  %> 
  </div>
</div>
<%# ━━━━━━応募ボタンここまで━━━━━━ %>

<%# ━━━━━━応募の流れ━━━━━━ %>
<div class="flow">
  <h1><span class="flowtitle"> - 応募からの流れ - </span></h1>
</div>

<div class="stepconnect">
<div class="connect">

  <div class="step1">
    <div class="stepbox">
      <div class="flowbox"> 
        <h3><span class="flowtitle-No"> ① </span></h3>
        <h3><span class="flowtitle-step"> エントリー </span></h3>
      </div>
    </div>
    <p class="explanation">応募ボタンよりエントリーお手続きをお願いします。</p>
  </div>
  <div class="step2">
  <div class="stepbox">
      <div class="flowbox"> 
        <h3><span class="flowtitle-No"> ② </span></h3>
        <h3><span class="flowtitle-step"> 日 程 調 整 </span></h3>
      </div>
    </div>
    <p class="explanation">応募ボタンよりエントリーお手続きをお願いします。</p>
  </div>
  <div class="step3">
    <div class="stepbox">
      <div class="flowbox"> 
        <h3><span class="flowtitle-No"> ③ </span></h3>
        <h3><span class="flowtitle-step"> 業 務 体 験 </span></h3>
      </div>
    </div>
    <p class="explanation">応募ボタンよりエントリーお手続きをお願いします。</p>
  </div>
  <div class="step4">
    <div class="stepbox">
      <div class="flowbox"> 
        <h3><span class="flowtitle-No"> ④ </span></h3>
        <h3><span class="flowtitle-step"> 選考START </span></h3>
      </div>
    </div>
    <p class="explanation">応募ボタンよりエントリーお手続きをお願いします。</p>
  </div>
  <div class="step5">
    <div class="stepbox">
      <div class="flowbox"> 
        <h3><span class="flowtitle-No"> ⑤ </span></h3>
        <h3><span class="flowtitle-step"> 一 次 選 考 </span></h3>
      </div>
    </div>
    <p class="explanation">応募ボタンよりエントリーお手続きをお願いします。</p>
  </div>
</div>
</div>

<%# ━━━━━━管理本部メッセージ━━━━━━ %>
<div class= "hoge"><%= render 'new_graduates/message' %></div>

<%# ━━━━━━YouTubeの場所━━━━━━━ %>
<div class="challenge">
  <h1><span class="challenge-title"> 説明動画 </span></h1>
</div>

<div class= "hoge"><%= render 'new_graduates/youtube' %></div>

<%# ━━━━━━フォームの箇所━━━━━━ %>
<div class= "hoge"><%= render 'inquiry/index' %></div>

<%# ━━━━━━会社のプロフィール━━━━━━ %>
<div class= "hoge"><%= render 'new_graduates/profile' %></div>

<%# ━━━━━━特商法・著作権━━━━━━ %>
<div class= "hoge"><%= render 'new_graduates/footer' %></div>